.last {
    position: relative; 
    height: 30vh;
    width: 100%;
    background-image: url(../../../../../public//assets/services/webServices.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}


    .last::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);    
           z-index: 1;
    }

.lastheadinf {
    text-align: center;
    font-size: 62px;
    color: white;
    position: relative;
    z-index: 2; 
}

button {
    position: relative;
    z-index: 2;
    font-size: 15px !important;
    background-color: transparent;
    border-radius: 5px;
    /* color: white !important; */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size:15px;
    margin-top: 10px;
}


button a {
    text-decoration: none;
    color: white;
}
@media (max-width : 630px) {
    .lastheadinf{

        font-size: 22px;

    }
    
}
@media (max-width : 503px) {
    button{
        padding: 0px 0px;
        border: none;
        cursor: pointer;
        font-size:12px;

        margin-top: 10px;
    }
    
}