.sidebanner{
    margin-top: 20px;
    display: flex !important;
    justify-content: center !important;
}
.banner{
    /* height: 80vh; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    height: 90%;
    width: 90%;
}
.left{
    justify-content: center;
    margin-top: 50px;
}